# Environment variables
.env
backend/node_modules/
frontend/node_modules/


# Google Cloud keys
# *.json (Too broad, ignores package.json)
# backend/*.json (Too broad, ignores package.json)
backend/omega-*.json


# Firebase / GCP / secrets
serviceAccountKey.json
